.tasks {
  &:not(:last-of-type) {
    margin-bottom: 40px;
  }
  &__title {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #64c4ed;
    border-bottom: 1px solid #e2dfdf;
    &:hover {
      img {
        opacity: 0.2;
      }
    }

    img {
      width: 20px;
      height: 20px;
      opacity: 0;
      cursor: pointer;
      margin-left: 15px;
      &:hover {
        opacity: 0.8;
      }
    }

  }

  &__form {
    margin-top: 20px;
    &-new {
      display: flex;
      align-items: center;
      cursor: pointer;
      opacity: 0.4;
      transition: all 0.4s ease;
      &:hover {
        opacity: 0.8;
      }
      img {
        width: 14px;
        height: 14px;
        margin-left: 3px;
      }
      span {
        font-size: 16px;
        margin-left: 15px;
      }
    }
    &-block {
      .button {
        margin-top: 15px;
      }
      .button--cancel {
        margin-left: 20px;
      }
    }
  }

  &__items {
    margin-top: 30px;
    h2 {
      position: absolute;
      color: #c9d1d3;
      font-size: 18px;
      left: 50%;
      top: 50%;
    }
    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      &:hover &-actions {
        opacity: 1;
      }
      &-actions {
        display: flex;
        opacity: 0;
        transition: all 0.5s ease;
        div {
          opacity: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background-color: lighten(#f4f6f8, 3%);
          border-right: 4px;
          margin-left: 5px;
          cursor: pointer;
          &:hover {
            background-color: darken(#f4f6f8, 3%);
            img {
              opacity: 1;
            }
          }
          img {
            width: 11px;
            height: 11px;
            opacity: 0.4;
          }
        }
      }
      p {
        width: 100%;
        margin-left: 10px;
        border: 1px solid transparent;
        font-size: 16px;
      }
    }
  }

  .checkbox {
    input {
      display: none;
    }

    input:checked + label { // when custom checkbox is active
      background-color: #4dd599;
      border-color: #4dd599;
      svg {
        opacity: 1;
        path {
          stroke: #fff;
        }
      }
    }

    &:hover {
      label {
        background-color: #f2f2f2;
        border-color: #f2f2f2;
        svg {
          opacity: 1;
          path {
            stroke: #b2b2b2;
          }
        }
      }
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #e8e8e8;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      cursor: pointer;
      svg {
        opacity: 0;
      }
    }

  }
}