* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  box-shadow: 1px 2px 20px #f3f3f3;
  font-size: 11px;
  &__sidebar {
    padding: 60px 20px;
    background-color: #f4f6f8;
    width: 220px;
    height: calc(100% - 120px);
    border-right: 1px solid #f1f1f1;
  }
}

.field {
  width: 100%;
  background-color: #fff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  transition: all 0.4s ease;
  &:focus {
    border-color: #dbdbdb;
  }
}

.button {
  padding: 10px 20px;
  background-color: #4DD599;
  border-radius: 4px;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
  &:hover {
    background-color: darken(#4DD599, 10%);
  }
  &:active {
    background-color: darken(#4DD599, 15%);
  }
}

